body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("696c1346c27df162ecd95129ff4ea552.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;

  }

  
  #playButton {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(57, 6, 83);
  }

  #videoPlayer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure video is behind other content */
  }
  #videoPlayer02{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; 

  }
  #videoPlayer03{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 

  }
.try-again-button{
    padding: 20px;
    font-size: 20px;
    position: absolute;
    bottom: 1%;
    width: 150px;
    background-color: transparent;
    color: brown;
    border-radius:16px;
   border: 1px solid black;
}

.main{
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: row; 
  height:600px;
  width:100%;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: top;
}
.image{
  margin: 0;
  padding: 0;
  width: 400px;
 background-size: cover;
  padding: 0;
}
.image2{
  margin: 0;
  padding: 0;
  width: 330px;
  background-size: cover;
  margin-top: 15px;

}
.image3{
  margin: 0;
  padding: 0;
width: 380px;
background-size: cover;
color: transparent;
}
.wifu-name{
  color : rgb(101, 8, 67);
  font-size: 44px;
  font-family:'fantasy';
  text-decoration: underline;
letter-spacing: 3px;
}